header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    margin: 0 15px;
}

header a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

header a:hover {
    color: #1cbbc7;
}

header #search {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    font-size: large;
}